@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    margin: 0;
    background: #fff;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

#profile {
    position: relative;
    margin-right: 30px;
}

#profile img {
    width: 250px;
    margin: 25px;
    border-radius: 50%;

}

#profile h1 {
    color: rgb(80, 80, 80);
    line-height: 15px;
    font-weight: 700;
}

#profile h2 {
    color: rgb(160, 160, 160);
    font-weight: 400;
}

#links {    
    position: relative;
}

#links a {
    color: rgb(80, 80, 80);
    font-size: 150px;
    line-height: 150px;
    font-weight: 700;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}

#links a:hover {
    text-decoration-line: underline;
}

/* Breakpoints */

@media (max-height: 500px){
    #container{
        align-items: flex-start;
    }
}

@media (max-width: 1023px){
    #profile{
        margin: 30px auto;
        padding: 0 50px;
    }
    #links{
        margin: auto;
    }
    #links a{
        font-size: 60px;
        line-height: 70px;
        padding-right: 20px;
    }
}

@media (min-width: 1024px) and (max-width: 1200px){
    #links a{
        font-size: 130px;
        line-height: 130px;
    }
}

@media (min-width: 1201px) {
    #profile {
        margin-right: 50px;
    }
    #links a{
        font-size: 150px;
        line-height: 150px;
    }
}